name: Docker Build and Trivy Scan (Reusable)

on:
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string

jobs:
  build-and-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: docker build -t ${{ inputs.image_name }} .

      - name: Trivy Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ inputs.image_name }}
          format: table
          exit-code: 0
          severity: CRITICAL,HIGH
