name: Docker Build and Trivy Scan

on:
  workflow_call:
    inputs:
      repo_name:
        required: true
        type: string

jobs:
  build-and-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Caller Repo Code
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.repo_name }}

      - name: Build Docker Image
        run: docker build -t app-image .

      - name: Trivy Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: app-image
          format: table
          exit-code: 0
          severity: CRITICAL,HIGH
